<!DOCTYPE html>
<html lang="en">
<head>
    <title>Add a Journal Entry</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    </head>
<body>
<header>
    <h1  style="text-align: center">Add a Journal Entry</h1>
    <nav style="text-align: center">
        <a href=index.html>Home</a>
        <a href=doAThingJournal.html>Thing</a><br>
    </nav>
</header>
<main>
    <form class="text-center">
        <span>Date: </span>
        <input type = text><br><br>

        <span>Note: </span>
        <input type = text>
    </form>
</main>
<footer>
    <hr> David Herier<hr/>
</footer>
</body>
</html>

